graft docs
prune docs/_build
graft wsgiproxy
include *.rst
include *_fixt.py
global-exclude *.pyc
global-exclude __pycache__
include *.py
include *.txt
include COPYING
include buildout.cfg
include tox.ini
